body {
    background-color: #000;
    font-family: Helvetica, Arial, sans-serif;
    height:100%;
    margin: 0;
  }

html {
    height:100%;
    margin: 0;
  }

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #E52F66;

}

h1, h2, h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

#artistbox {
    background-color: rgba(0,0,0,0.4);
    width: 49%;
    border-style: solid;
    border-width: 1px;
    border-color: #0C0C0C; 
    display: inline-block;
}
#artistbox img {
    max-width: 100%;
}

#artistbox a {
    width: 100%;
    display: block;
    text-align: center;
    background: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #0C0C0C; 
}

#artistbox a:hover {
    background: #E52F66;
}

#artists-row {
    margin: 10px;
}

#artists-row img.imglink {
    width: 30%;
    padding: 10px;
}

#artists-row p {
    text-align: center;
    font-size: medium;
    color: white;
}

#container {
 /*   background: rgb(106,0,110);
    background: radial-gradient(circle, rgba(106,0,110,1) 0%, rgba(0,16,97,1) 100%);
 */
    /*background-image: url('img/bg.png');*/
    background-color: #141314;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;

}

#contentbox {
    margin-left: auto;
    margin-right: auto;

    width: 600px;
    text-align: center;
}
#header {
    background-color: #000000;

    color:teal;
    text-align: center;
    padding: 10px;
}

#header img {
    width: 600px;
}

#content {
    padding: 10px;
}

#nav {
}

#nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#nav li {
    display:inline;
    padding-right: 10px;
}

#main {
    width: 100%;
    float: left;
    text-align: center;
    color: white;
}

#footer {
    clear: both;
    position: relative;
    height: 150px;
    margin-top: -150px;
    padding: 10px;
    background-color: #000;
    color: white;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}

#mc_embed_signup {
    display: block;
}
#mc_embed_signup input.button {
  -webkit-appearance: none;
  background-color: #E52F66;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#mc_embed_signup input.button:hover {
    background-color: #ed4a7c;
}

#nav .selected {
    font-weight: bold;
    color: #E52F66;

}
p {
    text-align: center;
    font-size: medium;
    color: white;
}

p .emphasized {
    font-weight: bold;
    color: #E52F66;    
}

@media screen and (max-width: 768px) {
    #contentbox {
        width:100%;
    }
    #header img {
        width: 100%;
    }
}